################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
Aufgabe3-Funktionsgrapheninterpreter-csharp/FunctionGraphInterpreter/bin/Debug/net5.0/FunctionGraphInterpreter.runtimeconfig.dev.json
Aufgabe3-Funktionsgrapheninterpreter-csharp/FunctionGraphInterpreter/obj/FunctionGraphInterpreter.csproj.nuget.dgspec.json
Aufgabe3-Funktionsgrapheninterpreter-csharp/FunctionGraphInterpreter/obj/FunctionGraphInterpreter.csproj.nuget.g.props
Aufgabe3-Funktionsgrapheninterpreter-csharp/FunctionGraphInterpreter/obj/project.assets.json
Aufgabe3-Funktionsgrapheninterpreter-csharp/FunctionGraphInterpreter/obj/project.nuget.cache
Aufgabe3-Funktionsgrapheninterpreter-csharp/FunctionGraphInterpreter/obj/Debug/net5.0/FunctionGraphInterpreter.csproj.FileListAbsolute.txt
Aufgabe3-Funktionsgrapheninterpreter-csharp/FunctionGraphInterpreter/obj/Debug/net5.0/FunctionGraphInterpreter.GeneratedMSBuildEditorConfig.editorconfig
Aufgabe3-Funktionsgrapheninterpreter-csharp/FuGaIn/obj/project.nuget.cache
Aufgabe3-Bildfaltung-C#\Bildfaltung\obj\*
Aufgabe3-Bildfaltung-C#/Bildfaltung/obj/Debug/net48/Bildfaltung.AssemblyInfo.cs
Aufgabe3-Bildfaltung-C#/Bildfaltung/obj/Debug/net48/Bildfaltung.AssemblyInfoInputs.cache
Aufgabe3-Bildfaltung-C#/Bildfaltung/bin/Debug/net48/Bildfaltung.exe
Aufgabe3-Bildfaltung-C#/Bildfaltung/bin/Debug/net48/Bildfaltung.pdb
Aufgabe3-Bildfaltung-C#/Bildfaltung/bin/Debug/net48/Bildfaltung.app/Contents/MonoBundle/Bildfaltung.exe
Aufgabe3-Bildfaltung-C#/Bildfaltung/bin/Debug/net48/Bildfaltung.app/Contents/MonoBundle/Bildfaltung.pdb
Aufgabe3-Bildfaltung-C#/Bildfaltung/Clamped/*
Aufgabe3-Bildfaltung-C#/Bildfaltung/obj/Debug/net48/Bildfaltung.AssemblyInfo.cs
Aufgabe3-Bildfaltung-C#/Bildfaltung/obj/Debug/net48/Bildfaltung.AssemblyInfoInputs.cache
Aufgabe3-Bildfaltung-C#/Bildfaltung/obj/Debug/net48/Bildfaltung.exe
Aufgabe3-Bildfaltung-C#/Bildfaltung/obj/Debug/net48/Bildfaltung.pdb
Aufgabe3-Bildfaltung-C#/Bildfaltung/ZeroPadded/*
Aufgabe3-Bildfaltung-C#/Bildfaltung/bin/Debug/net48/Bildfaltung.exe
Aufgabe3-Bildfaltung-C#/Bildfaltung/bin/Debug/net48/Bildfaltung.pdb
Aufgabe3-Bildfaltung-C#/Bildfaltung/bin/Debug/net48/Bildfaltung.app/Contents/MonoBundle/Bildfaltung.exe
Aufgabe3-Bildfaltung-C#/Bildfaltung/bin/Debug/net48/Bildfaltung.app/Contents/MonoBundle/Bildfaltung.pdb
Aufgabe3-Bildfaltung-C#/Bildfaltung/obj/Debug/net48/Bildfaltung.AssemblyInfo.cs
Aufgabe3-Bildfaltung-C#/Bildfaltung/obj/Debug/net48/Bildfaltung.AssemblyInfoInputs.cache
Aufgabe3-Bildfaltung-C#/Bildfaltung/obj/Debug/net48/Bildfaltung.exe
Aufgabe3-Bildfaltung-C#/Bildfaltung/obj/Debug/net48/Bildfaltung.pdb
